{% extends 'shop/admin/layouts/admin_master.html' %}
{% block content %}
<div class="container">
    <div class="row my-5">
        <h5 class="text-dark">Customers</h5>
        <button class="btn btn-dark ml-auto" data-toggle="modal" data-target="#categoryModal">
            <i class="fa fa-plus" aria-hidden="true"></i>  New Customer
        </button>
    </div>
    <div class="row justify-content-center my-5">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">All Customers</h4>
                </div>
                <div class="card-body">
                    <!-- This is where we add our table -->
                    <!-- Table begins -->

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Name</th>
                                <th>Password</th>
                                <th>Phone number</th>
                                
                            
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in object_list %}
                                <tr>
                                    <td>{{object.email}}</td>
                                    <td>{{object.name}}</td>
                                    <td>{{object.}}</td>
                                    <td>{{object.phone_number}}</td>
                                    <td>
                                        <a href="{% url 'customer_update' object.id %}" class="btn btn-dark btn-sm">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="{% url 'customer_delete' object.id %}" class="btn btn-danger btn-sm">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- Table ends -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}