<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-outline-dark">
            <i class="fa fa-bars"></i>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item"><span class="btn btn-outline-dark border-0 mx-2"> Welcome {{ user.get_username }}</span></li>
                    <li><a class="btn btn-dark" href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="btn btn-dark" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>